{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 120,
  "arrowParens": "always",
  "quoteProps": "consistent"
}
